
<footer>
    <div class="footer-container">
      <div class="footer-links">
        <a href="https://github.com/fkg-india" target="_blank">
          <i class="fab fa-github"></i> 
        </a>

        <a href="https://instagram.com/ashokauniv" target="_blank">
          <i class="fab fa-instagram"></i> 
        </a>

        <a href="https://www.ashoka.edu.in/" target="_blank">
          <img src="{{ '/assets/images/logo/ashoka_uni.png' | relative_url }}" alt="Ashoka University Logo" style="width: 80px; vertical-align: middle;">
          
        </a>

      </div>
      <div class="footer-copyright">
        © Food Computing Group – All Rights Reserved
      </div>
  
    </div>
  </footer>
  