---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



.width-paper-image-15 {
    width: 15%
}

.width-paper-image-100 {
    width: 100%
}

.width-paper-image-80 {
    width: 80%
}

.width-paper-image-12 {
    width: 12%
}