body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #a81e1e;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-heading {
    font-size: 1.5rem; /* Adjust size to your preference */
    font-weight: bold; /* Makes the text bold */
    margin-left: 10px; /* Space between logo and text */
    color: #343a40; /* Change color to match your design (Bootstrap dark color) */
    line-height: 1.5; /* Adjust line height for better spacing */
}

/* Optional: Adjust logo size for a consistent appearance */
.logo {
    max-width: 50px; /* Set a specific size for the logo */
    height: auto; /* Maintain aspect ratio */
}
